*{
  margin: 0%;
  padding: 0%;
}
.videodefondo {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -2; }
  
 
  
  h1 {
    padding: 0.5%;
    text-align: center;
    color: #f30a0a7c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  
  .menu {
    background-color: rgba(255, 0, 0, 0.315);
    padding: 2%; }
  
  .contorno-fotoindex {
    margin: 5%;
    padding: 2%; }
  
  .loremde_fotoindex1 {
    margin: 2%;
    color: aliceblue; 
background-color: #52110f60;}
  
  .bi-instagram  {
   margin: 1%;
    width: 25px;
    height: 25px;
    color: aliceblue;}
    .bi-facebook {
      margin: 1%;
      width: 25px;
      height: 25px;
      color: aliceblue;
    }
    .bi-whatsapp{
      margin: 1%;
      width: 25px;
      height: 25px;
      color: aliceblue;
    }
  
  h2 {
    padding: 1%;
    text-align: center;
    color: #d12620;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  
  .contorno__carrucel {
    padding: 10%; }
  
  .texto_carrucel2 {
    color: black; }
  
  .imagen-index1 {
    margin: 5%;
    padding: 5%; }
  
  .parrafomihistoria {
    background-color: rgba(128, 128, 128, 0.527);
    color: white; }
  
   
  
  .logos {
    color: aliceblue; }
  
  .parrafonuncaolvidar {
    background-color: rgba(128, 128, 128, 0.479);
    color: white;
    margin: 15%; }
  
  form {
    width: 70%;
    margin: 15%;
    background: rgba(100, 2, 2, 0.507); 
    box-sizing: border-box;
    margin-top: 20px;
    font-family: serif; 
  text-align: center;}

  .padrecontacto{
    margin: 8%;}
    
  .mapa {
    width: 90%;
    height: 20%;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 footer{
  color: aliceblue;
  background-color: rgba(255, 2, 2, 0.274);
  padding: 1rem 0 ;
  text-align: center;
  position: absolute;
  width: 100%;
 }

