*{
  margin: 0%;
  padding: 0%;
}
.videodefondo {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1; }
  
  body {
    position: relative;
    padding-bottom: 4em; }
  
  h1 {
    padding: 0.5%;
    text-align: center;
    color: #d12620;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  
  .menu {
    padding: 1%; }
  
  .contorno-fotoindex {
    margin: 5%;
    padding: 2%; }
  
  .loremde_fotoindex1 {
    margin: 2%;
    color: aliceblue; 
background-color: #52110f60;}
  
  .bi-instagram {
    color: aliceblue; }
  
  .bi-facebook {
    color: aliceblue; }
  
  .bi-whatsapp {
    color: aliceblue; }
  
  h2 {
    padding: 1%;
    text-align: center;
    color: #d12620;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
  
  .contorno__carrucel {
    padding: 10%; }
  
  .texto_carrucel2 {
    color: black; }
  
  .imagen-index1 {
    margin: 5%;
    padding: 5%; }
  
  .parrafomihistoria {
    background-color: rgba(128, 128, 128, 0.527);
    color: white; }
  
  .textoderechos {
    text-align: left; }
  
  .logos {
    color: aliceblue; }
  
  .parrafonuncaolvidar {
    background-color: rgba(128, 128, 128, 0.479);
    color: white;
    margin: 15%; }
  
  form {
    width: 70%;
    margin: 15%;
    background: rgba(100, 2, 2, 0.507); 
    box-sizing: border-box;
    margin-top: 20px;
    font-family: serif; 
  text-align: center;}
    
  
 

